{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div>
                <h1>This is the about page</h1>
                <p>This is some about text</p>
                <p>This is data sent through the template {{index .StringMap "test"}}</p>
            </div>
        </div>
    </div>
{{end}}